<html xmlns:th="http://www.thymeleaf.org">
    <table th:fragment="userTableFragment(userList)" class="table table.sm justify-content-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th class="col-md-3" scope="col">Name</th>
                <th class="col-md-5" scope="col">Roles</th>
                <th class="col-md-5" scope="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="user : ${userList}">
            <tr>
                <th scope="row">[[${user.id}]]</th>
                <td>[[${user.userName}]]</td>
                <td>[[${user.role}]]</td>
                <td>
                    <a href="#" style="margin-inline-end: 20px">
                        <span class="fa fa-address-card-o" style="margin-inline-end: 5px"/>
                        <span>Edit Role</span>
                    </a>
                    <a href="#">
                        <span class="fa fa-trash-o" style="margin-inline-end: 5px"/>
                        <span>Remove</span>
                    </a>
                </td>
            </tr>
            </th:block>
        </tbody>
    </table>
</html>
