<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="head/head :: headFragment(${username} + '\'s Collection')">
    <body>
        <nav th:replace="component/navbar :: navbarFragment(${username} + '\'s Collection')" />
        <div class="container col-8" style="margin-top: 20px; margin-bottom: 10px;">
            <div class="row">
                <div style="margin-inline: 50px; margin-left: auto">
                    <form action="#" th:method="get">
                        <div class="input-group">
                            <div>
                                <select th:name="genre" class="custom-select col" style="width: 100px">
                                    <option selected>Any</option>
                                    <th:block th:each="genre : ${genres}">
                                        <option th:value="${genre.name()}" th:text="${genre}"></option>
                                    </th:block>
                                </select>
                                <select name="searchBy" class="custom-select col" style="width: 150px">
                                    <option value="name">Movie Name</option>
                                    <option value="actor">Movie Actor</option>
                                </select>
                            </div>
                            <input name="text" type="text" class="form-control col" aria-label="Name">
                            <div class="input-group-append">
                                <button name="search" value="true" class="btn btn-outline-secondary fa fa-search" type="submit" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div th:replace="component/tables/movieTable :: movieTableFragment()" />
    </body>
</html>
