<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="create_editMovieFragment(movieGenreList, movieLanguageList, edit_create)" class="row justify-content-center">
        <!--/*@thymesVar id="movie" type="com.emrygun.moviecollectionapplication.Model.Movie.Movie"*/-->
        <form action="#" th:action="@{/movie/create_edit/} + ${edit_create}" th:object="${movie}" method="post" enctype="multipart/form-data">
            <div class="container col-8">
                <h1 class="font-weight-bold" th:text="${edit_create == 'create'} ? 'Create Movie' : 'Edit Movie'">
                </h1>
                <hr />
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <input type="hidden" th:field="*{id}" />
                            <label>Movie Name</label>
                            <input th:field="*{name}" type="text" class="form-control" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <label >Genre</label>
                            <select th:field="*{genre}" class="form-control">
                                <option th:each="genre : ${movieGenreList}" th:text="${genre}" th:value="${genre}" />
                            </select>
                        </div>
                            <label>Year</label>
                            <input th:field="*{year}" type="number" class="form-control" required>
                            <br />
                            <div class="form-group">
                                <label>Media (PNG)</label>
                                <input type="file" name="fileImage" accept=".png" class="form-control-file" >
                            </div>
                    </div>
                    <div class="col">
                        <div class="form-group">

                            <label>Languages</label>
                            <select th:field="*{languages}" multiple class="form-control" >
                                <option th:each="language : ${movieLanguageList}" th:text="${language}" th:value="${language}"/>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea th:field="*{description}" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row col-10">
                <div class="form-group form-inline">
                    <label class="h4">Actors: </label>
                </div>
                <table class="table table.sm">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col" style="width: 300px">Actor Full Name</th>
                        <th scope="col" style="width: 300px">Role</th>
                        <th scope="col" style="width: 300px">
                            <button type="submit" name="editRow" value="-1">Add Row</button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="actors, id : *{actors}">
                        <td th:text="${id.count}"></td>
                            <td>
                                <input type="text" th:field="*{actors[__${id.index}__].fullName}" required/>
                            </td>
                            <td>
                                <input type="text" th:field="*{actors[__${id.index}__].role}" />
                            </td>
                            <td>
                            <button type="submit" name="editRow" class="fa fa-trash-o btn btn-outline-secondary"
                                    th:value="${id.index}" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
                <div class="row justify-content-md-center">
                    <button name="save" th:value="${movieId}" type="submit" class="btn btn-outline-primary my-1 col-md-3 ">
                        Submit Movie
                    </button>
                </div>
            </div>
        </form>
    </div>
</html>
