<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="movie" type="com.emrygun.moviecollectionapplication.entity.movie.Movie"*/-->
    <div th:fragment="userMovieFragment()" class="row justify-content-center" th:object="${movie}">
        <div class="container col-md-10">
            <div class="row">
                <div class="col-md-3">
                    <img th:src="@{'/photos/' + ${movie.mediaMD5} + '.png'}"
                         class="figure-img img-fluid rounded" style="width:180px;" />
                </div>
                <div class="col-md-5">
                    <h3 style="margin-bottom: -5px; font-weight: bold;">
                        [[${movie.name}]]
                    </h3>
                    <span>
        <small><i>[[${movie.genre}]],</i></small>
        <small><i>[[${movie.year}]]</i></small>
      </span>
                    <hr style="margin: 0 auto;">
                    <article style="min-height: 60px;">
                        [[${movie.description}]]
                    </article>
                    <small>Languages: </small>
                    <small>[[${movie.languages}]]</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <h3>
                        Actors
                    </h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col-md-5">Actor FullName</th>
                            <th scope="col-md-5">Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="actor : ${movie.actors}">
                            <td scope="col-md-5">[[${actor.fullName}]]</td>
                            <td scope="col-md-5">[[${actor.role}]]</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr/>
            <div class="row">
                <form style="width: 80px" th:action="@{/movie/edit}" method="post">
                    <button type="submit" name="movieId" th:value="${movie.id}" class="btn btn-outline-secondary btn-sm" style="margin-inline-end: 20px">
                        <span class="fa fa-pencil" style="margin-inline-end: 5px"/>
                        <span>Edit</span>
                    </button>
                </form>
                <form style="width: 110px" th:action="@{/movie/delete}" method="post">
                    <button type="submit" th:name="movieId" th:value="${movie.id}" class="btn btn-outline-secondary btn-sm" style="margin-inline-end: 20px">
                        <span class="fa fa-trash-o" style="margin-inline-end: 5px"/>
                        <span>Remove</span>
                    </button>
                </form>
            </div>
        </div>
</html>
